<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{product.name}}</title>
  <link rel="stylesheet" href="/tailwind.css" />

</head>

<body>
  {{> header}}
  <div class="container grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="flex flex-col">
      <img src="{{product.image}}" alt="{{product.name}}" />
    </div>
    <div class="flex flex-col gap-4">
      <h1 class="text-2xl font-bold">Name: {{product.name}}</h1>
      <p class="text-xl font-medium">Price: {{product.price}}</p>
      <p class="text-xl font-medium">Category: {{product.category}}</p>
      <div class="flex flex-row gap-4">
        <a href="/product/edit?id={{product._id}}">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Edit
          </button>
        </a>
        <form action="/product/delete" method="post">
          <input type="hidden" name="id" value="{{product._id}}" />
          <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
            Delete
          </button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>